body{
font-family: 'Pangolin', cursive;
background-color: #FFFFFF;
color: #A0919A ; 
}
#test1{
    background-color:#6D466B ;
    box-shadow:5px 5px 18px #412234 ;
    width:310px;
    height: 200px   
}   
